# Gitignore fichiers secrets
back/constants.php

# Gitignore serveur
.cache
.gnupg

# Gitignore vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix